In [1]:
# 1. Import Libraries
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt 
%matplotlib inline

from sklearn.preprocessing import StandardScaler
from sklearn.model_selection import train_test_split
from sklearn.ensemble import RandomForestClassifier
from sklearn.metrics import accuracy_score, confusion_matrix

import warnings
warnings.filterwarnings('ignore')

In [2]:
df = pd.read_csv('loan_approval_data.csv')
df.sample(5)

,loan_id,gender,married,dependents,education,self_employed,applicantincome,coapplicantincome,loanamount,loan_amount_term,credit_history,property_area,loan_status
339,lp002114,female,no,0.0,graduate,no,4160,0.0,71.0,360.0,1.0,semiurban,y
390,lp002255,male,no,3.0,graduate,no,9167,0.0,185.0,360.0,1.0,rural,y
545,lp002767,male,yes,0.0,graduate,no,2768,1950.0,155.0,360.0,1.0,rural,y
130,lp001469,male,no,0.0,graduate,yes,20166,0.0,650.0,480.0,NaN,urban,y
372,lp002201,male,yes,2.0,graduate,yes,9323,7873.0,380.0,300.0,1.0,rural,y

In [3]:
df.shape

(614, 13)

In [4]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 614 entries, 0 to 613
Data columns (total 13 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   loan_id            614 non-null    object
 1   gender             601 non-null    object
 2   married            611 non-null    object
 3   dependents         599 non-null    float64
 4   education          614 non-null    object
 5   self_employed      582 non-null    object
 6   applicantincome    614 non-null    int64
 7   coapplicantincome  614 non-null    float64
 8   loanamount         592 non-null    float64
 9   loan_amount_term   600 non-null    float64
 10  credit_history     564 non-null    float64
 11  property_area      614 non-null    object
 12  loan_status        614 non-null    object
dtypes: float64(5), int64(1), object(7)
memory usage: 62.5+ KB

In [5]:
## Check duplicated records in the dataset
len(df[df.duplicated()])

0

In [6]:
#missing values in the dataset
df.isnull().sum()/len(df)*100

loan_id              0.000000
gender               2.117264
married              0.488599
dependents           2.442997
education            0.000000
self_employed        5.211726
applicantincome      0.000000
coapplicantincome    0.000000
loanamount           3.583062
loan_amount_term     2.280130
credit_history       8.143322
property_area        0.000000
loan_status          0.000000
dtype: float64

In [ ]:
df_cat = df.select_dtypes(include='object')
#Label encoding
le = LabelEncoder()
for col in df_cat:
    df[col] = le.fit_transform(df[col])

In [ ]:
X = df.drop('loan_id',axis=1)
y = df['loan_id']

In [ ]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2)

print(X_train.shape,X_test.shape)
print(y_train.shape,y_test.shape)

In [ ]:
## Let us build simple random forest classifier model
rf = RandomForestClassifier()
rf.fit(X_train,y_train)
## Let us check the accuracy to see hows our model is performing

y_train_pred = rf.predict(X_train)
y_test_pred = rf.predict(X_test)

accuracy_train = accuracy_score(y_train,y_train_pred)
accuracy_test = accuracy_score(y_test,y_test_pred)

print('accuracy train:',accuracy_train)
print('accuarcy test',accuracy_test)

In [ ]:
import pickle
# Saving model to disk
pickle.dump(df, open('model.pkl','wb'))

# Loading model to compare the results
model = pickle.load(open('model.pkl','rb'))